body {
	width:  960px;
	margin: 0 auto;
	background-color: #ADFFCF;
	font-size: 20px;
	font-family: Times, serif;
	color: #f76011;
}

header[role="banner"] {
	margin-top: 20px;
	height: 160px;
	border: solid 10px #ffbdbd;
	border-left: solid 30px #7FDBA5;
	border-right: solid 30px #7FDBA5;
}

h1 {
	font-size: 72px;
	text-align: center;
	color: #ffbdbd;
	text-shadow: 0 1px rgba(0, 0, 0, .5);
	margin: 5px 0 0 0;
}

aside nav {
  margin: 0 auto;
  width: 700px;
}

aside nav ul {
  text-align: vertical;
  font-family: Arial, Verdana;
  font-size: 18px;
  list-style: none;
}

aside nav ul li {
  display: block;
  height: 50px;
  width: 200px;
  margin: 25px 0 0 0;
  white-space: nowrap;
}

aside nav ul li a {
  text-decoration: none;
  padding: 5px 20px;
  background: #7FDBA5;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  border: solid 4px white;
 }


article {
  position: relative;
  top: 35px;
  background-color: #7FDBA5;
  border: double 10px white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  height: 550px;
  width: 600px;
}

article h2 {
  color: #304D42;
  font-size: 24px;
  line-height: 14px;
  margin: 20px 0 0 0;
  padding: 10px 20px;
}

article p {
  color: rgba(0, 0, 0, .5);
  line-height: 24px;
  padding: 2px 20px;
}

section {
  background-color: #FFBBA6;
  border: double 4px white;
  padding: 0px;
  margin: 10px 10px;
}

section h3 {
  color: #6E3023;
  font-size: 22px;
  line-height: 14px;
  margin: 10px 0 0 0;
  padding: 0px 5px 0 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

section p {
  color: #6E3023;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
}

section img {
	max-height: 120px;
	margin: 15px 10px 10px 15px;
}

aside {
  position: relative;
  top: -535px;
  left: 640px;
  background-color: #7FDBA5;
  border: solid 8px white;
  height: 555px;
  width: 302px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

aside h3 {
  color: #304D42;
  font-size: 24px;
  line-height: 14px;
  margin: 20px 0px 0px 0px;
  padding: 10px 20px;
}

aside p {
  color: rgba(0, 0, 0, .5);
  line-height: 22px;
  padding: 0 20px;
}

nav {
  margin: 0 auto;
  width: 800px;
}

nav ul {
  text-align: center;
  font-family: Arial, Verdana;
  font-size: 20px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  width: 95px;
  margin: 0 0px 0 5px;
  white-space: nowrap;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 20px;
  background: #f9bcbe;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  border: solid 4px white;
  transition-property: border;
  transition-delay: 0s;
  transition-duration: 2s;

}

nav ul li a:hover {
	background-color: #b26b70;
	border-style: none;

}

aside button {
  font-size: 20px;
  font-family: Arial, Verdana;
  padding: 8px 12px;
  border-radius: 8px;
  background: #f9bcbe;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  border-style: solid;
  border-color: white;
  margin: 20px 50px;
  padding: 5px 20px;
  text-align: center;
  transition-property: font-size;
  transition-duration: 2s;
  transition-delay: 0;

}

button:hover {
	background: #b26b70;
  	color: #ffffff;
  	cursor: pointer;
  	font-size: 12px;
}