body {
	width:  960px;
	margin: 0 auto;
	background-color: #fef6e4;
	font-size: 14px;
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
	color: #001858;
}

article {
  position: relative;
  padding: 20px;
  background-color: #8bd3dd;
  height: 354px;

}

article h2 {
	margin-bottom: 15px;
}

section {
  background-color: #f3d2c1;
  padding: 12px;
  margin: 8px;
}

section p {
	font-family: 'proxima_nova_rgregular';
	font-size: 16px;
	line-height: 1.5;
	color: #172c66;
	margin-bottom: 2px;

}

section h5 {
	margin-bottom: 6px;
}

aside {
	position: relative;
  padding: 20px;
  background-color: #f3d2c1;
  height: 354px;
}

aside h2 {
	line-height: 1;
}

footer {
	position: relative;
	text-align: center;
	margin: 20px;
}

p {
	font-size: 14px;
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
	color: ##172c66;
}

nav {
  padding-top: 33px;
}

nav ul {
  text-align: right;
  list-style: none;
}

nav ul li {
	display: inline-block;

}

nav ul li a {
	font-family: 'proxima_nova_rgbold';
	font-size: 16px;
  text-decoration: none;
  padding: 12px 30px;
  background: #f3d2c1;
  color: #001858;
  border: solid 3px #001858;
  border-radius: 10px;
  transition-property: background-color;
  transition-delay: 0s;
  transition-duration: 1s;

}

nav ul li a:hover {
	background-color: #f582ae;
}

.border {
	border: solid 3px #001858;
	border-radius: 12px;
}

.header {
	padding: 20px 0 0 0;
 }

@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
 }

@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
 }

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
 }

h1 {
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}