
/* Begin - Block Element Code; Using Heading & Paragraph Tags, for Page 2 & 3*/

h1 { font-family: cheee-wowie, sans-serif;
font-weight: 400;
font-style: normal; color: #703023;
font-size: 60px;
font-size: 6vw;
padding-left: 8px;
margin: 0px;
  }

/*h3 = Way Wurst*/

h3 { font-family: effra, sans-serif;
font-weight: 900;
font-size: 18px;
font-size: 2vw;
font-style: italic; color: #703023;
padding-left: 10vw;
margin: 0vw;
 }

 /*h2 = Wurst Recipes*/
h2 {  font-family: park-lane, serif;
font-style: normal; color: #a65643;
font-weight: 700;
font-size: 10vw;
margin-top: 1px;
}


p.block1 {
  font-family: park-lane, serif;
  font-weight: 300;
  font-style: normal; color: #341714;
  font-size: 25px;
  font-size: 3vw;
  margin-top: -10vw;
  margin-bottom: 0vw;
  padding-left: 4vw;
}

p.block2 {
  font-family: park-lane, serif;
  font-weight: 700;
  font-style: normal; color: #341714;
  font-size: 3vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  padding-left: 2vw;
}

/*End - Block Element Code; Using Heading & Paragraph Tags, for Page 2 & 3*/

h4 { font-family: effra, sans-serif;
font-weight: 900;
font-style: italic; color: #b76b6a; }


p { 
font-family: effra, sans-serif;
font-weight: 500;
font-style: normal; color: #341714; 
}

p.border { 
border-style: hidden hidden dotted hidden;
border-color: #703023;
border-width: 4;
padding-top: 0px;
padding-right: 7px;
padding-left: 7px;
padding-bottom: 1px;
font-family: effra, sans-serif;
font-weight: 500;
font-style: normal; color: #341714;
display:inline-block;
}

p.border2 { 
border-style: outset;
border-color: #b76b6a;
border-width: 4;
padding-top: 5px;
padding-right: 7px;
padding-left: 7px;
padding-bottom: 1px;
font-family: effra, sans-serif;
font-weight: 500;
font-style: normal; color: #341714;
display:inline-block
}


a {
font-family: effra, sans-serif;
font-weight: 500;
font-style: normal; color: #341714;
}

a:link {
  padding-right: 5px;
  padding-left: 5px;
}

a:visited {
  padding-right: 5px;
  padding-left: 5px;
}

a:hover {
  background-color: #efe8d8;
  padding-right: 5px;
  padding-left: 5px;
}

a:active {
  background-color: #b76b6a;
  padding-right: 5px;
  padding-left: 5px;
} 

img {
max-width: 100%;
height: auto; }

.centerbox {
  text-align: center;
}

/*Start Page 1 Images & Text*/

/*First Box*/
#disclaimerbox {
  background-color: #a65643 ;
  border-style: double;
  border-color: #703124;
  border-width: 6px;
  padding: 10px;
  margin: 5px;
  float: left;
  font-style: normal; color: #f3bc63  ;
  text-align: center;
}



img.firstwurst {
  float: left;
  position: relative;
  background-color: #f2de8b;
  border: 10px ridge #c6bfbe;
  max-width: 100%;
  height: 300px;
  left: 30px;
  box-shadow: 12px 12px #341714;
}

/*Second Box*/
.wurst1 {
  float: left;
  position: relative;
  top: -10px;
  right: 220px;
  width: auto;
  height: auto;
  margin: 3px;
  background-color: navajowhite;
  color: #341714;
  border: 6px ridge #779bc6;
  padding: 5px;
  padding-bottom: 0px;
  font-family: effra, sans-serif;
  font-weight: 500;
  font-size: 20px;
  max-height: ;
  font-style: normal; color: #341714;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.7);
}

img.secondwurst {
  float: right;
  position: relative;
  border: 15px ridge #779bc6;
  max-width: 100%;
  height: 200px;
  top: 50px;
  right: 200px;
  box-shadow: 10px -10px #341714;
}

/*Third Box*/
.wurst2 {
  float: right;
  position: relative;
  top: 68px;
  right: 80px;
  width: auto;
  height: auto;
  background-color: navajowhite;
  color: #341714;
  border: 6px ridge #a65643;
  padding: 5px;
  padding-bottom: 0px;
  font-family: effra, sans-serif;
  font-weight: 500;
  font-size: 20px;
  max-height: ;
  font-style: normal; color: #341714;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}

img.thirdwurst {
  float: left;
  position: relative;
  border: 15px double #ba513f;
  background-color: navajowhite;
  max-width: 100%;
  height: 300px;
  top: 180px;
  right: 80px;
  margin: 20px;
  box-shadow: -8px -8px #341714;
}

/*End Page 1 Images & Text*/


/*Start Page 3 Images & Text*/

/*Page 3 Box*/
#bewarebox {
  background-color: #f3bc63;
  border-style: dashed;
  border-color: #703124;
  border-width: 3px;
  margin: 5px;
  padding-top: 7px;
  padding-left: 40px;
  padding-right: 40px;
  font-style: normal; color: #703124;
  font-size: 2vw;
  text-align: center;
  display: inline-block;
  margin-left: 5vw;
  margin-bottom: 12px;
}

/*Page 3 Images*/

img.floatright {
  float: right;
  position: relative;
  background-color: #f2de8b;
  border: 10px ridge #c6bfbe;
  max-width: 100%;
  height: auto;
}

img.floatleft {
  float: left;
  position: relative;
  background-color: #f2de8b;
  border: 10px ridge #c6bfbe;
  max-width: 100%;
  height: 300px;
}




#fixedposition {
  position: fixed;
}



.wursttalk {
  float: right;
  position: relative;
  top: 55px;
  left: 120px;
  width: auto;
  height: auto;
  background-color: navajowhite;
  color: #341714;
  border: 6px ridge #779bc6;
  padding: 5px;
  padding-bottom: 0px;
  font-family: effra, sans-serif;
  font-weight: 500;
  font-size: 35px;
  max-height: 35px;
  font-style: normal; color: #341714;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.7);
}


.wurstwho {
  float: left;
  position: relative;
  top: 35px;
  right: 120px;
  width: auto;
  height: auto;
  background-color: navajowhite;
  color: #341714;
  border: 6px ridge #779bc6;
  padding: 5px;
  padding-bottom: 0px;
  font-family: effra, sans-serif;
  font-weight: 500;
  font-size: 20px;
  max-height: ;
  font-style: normal; color: #341714;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.7);
}

/*Absolute Properties*/

img.absolute1 {
  position: absolute;
  max-width: 300px;
  width: 28vw;
  height: auto;
  top: 70px;
  right: 20px;
  z-index: 1;

}

img.absolute2 {
  position: absolute;
  max-width: 30vw;
  bottom: 4px;
  right: 250px;
  z-index: 1;
}

/*End Page 3 Images & Text*/